<section class="hero-wrap hero-wrap-2" style="background-image: url('assets/images/bg_3.jpg');" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text align-items-end justify-content-center">
      <div class="col-md-9 ftco-animate text-center mb-4">
        <h1 class="mb-2 bread">About</h1>
        <p class="breadcrumbs"><span class="mr-2"><a routerLink="/">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>About <i class="ion-ios-arrow-forward"></i></span></p>
      </div>
    </div>
  </div>
</section>
<section>
<div class="about">
			<div class="container">
				<div class="row">
					<div class="col-md-5">
						<div class="row">
							<div class="about-desc">
								<div class="col-md-12 col-md-offset-0 animate-box intro-heading">
									<span>Welcome</span>
									<h4>Millet Meals was started to spread the healthy food habits and to share
										 the secret of healthy life as well. Traditional Millet based foods are solution for many modern 
										 health issues; from kids to old people Millet has great benefits and could help them lead Healthy and 
										 Happy life.</h4>
								</div>
								<div class="col-md-12 animate-box">
									<p class="about-text"> After establishment of Millet Meals many diabetic and Blood Pressure patients have started being regulars to our Millet Meals and have reported betterment in their health.</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-7">
						<div class="row">
							<div class="col-md-8 animate-box">
					      <img class="about-img about-img-2" src="assets/images/about-2.jpg" />
							</div>
						</div>
					</div>
				</div>
			</div>
    </div>
</section>