<section class="hero-wrap hero-wrap-2" style="background-image: url('assets/images/bg_1.jpg');" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text align-items-end justify-content-center">
      <div class="col-md-9 ftco-animate text-center mb-4">
        <h1 class="mb-2 bread">Menu</h1>
        <p class="breadcrumbs"><span class="mr-2"><a routerLink="/">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Menu <i class="ion-ios-arrow-forward"></i></span></p>
      </div>
    </div>
  </div>
</section>


<section class="page-heading">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <h1>Breakfast</h1>
               </div>
      </div>
            <div id="carousel-example" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner row w-100 mx-auto" role="listbox">

                    <div class="carousel-item col-12 col-sm-6 col-md-3 col-lg-3 active">
                      <div class="card">
                        <img src="assets/images/breakfast-1.jpg" class="img-fluid mx-auto d-block" alt="img1">
                        <div class="card-body">
                          <h4 class="card-title">Ragi idli 
                          </h4>
                          <p class="card-text">
                            (finger millet idli)</p>
                          </div>
                        </div>
                      </div>
                    <div class="carousel-item col-12 col-sm-6 col-md-3 col-lg-3">
                      <div class="card">
                        <img src="assets/images/breakfast-2.jpg" class="img-fluid mx-auto d-block" alt="img2">
                        <div class="card-body">
                          <h4 class="card-title">Jonna idli
                          </h4>
                          <p class="card-text">
                            (great millet/sorghum idli)</p>
                          </div>
                        </div>
                      </div>
                    <div class="carousel-item col-12 col-sm-6 col-md-3 col-lg-3">
                      <div class="card">
                        <img src="assets/images/breakfast-3.jpg" class="img-fluid mx-auto d-block" alt="img3">
                        <div class="card-body">
                          <h4 class="card-title">Sajja idli
                          </h4>
                          <p class="card-text">
                            (spiked millet /pearl millet idli) </p>
                          </div>
                        </div>
                      </div>
                    <div class="carousel-item col-12 col-sm-6 col-md-3 col-lg-3">
                      <div class="card">
                        <img src="assets/images/breakfast-4.jpg" class="img-fluid mx-auto d-block" alt="img4">
                        <div class="card-body">
                          <h4 class="card-title">Korralu upma
                          </h4>
                          <p class="card-text">
                            (foxtail millet upma)</p>
                          </div>
                        </div>
                      </div>
                    <div class="carousel-item col-12 col-sm-6 col-md-3 col-lg-3">
                      <div class="card">
                        <img src="assets/images/breakfast-5.jpg" class="img-fluid mx-auto d-block" alt="img5">
                        <div class="card-body">
                          <h4 class="card-title">Millet dosa
                          </h4>
                          <p class="card-text">
                          (healthy food)</p>
                          </div>
                        </div>
                      </div>
                    <div class="carousel-item col-12 col-sm-6 col-md-3 col-lg-3">
                      <div class="card">
                        <img  src="assets/images/breakfast-6.jpg" class="img-fluid mx-auto d-block" alt="img6">
                        <div class="card-body">
                          <h4 class="card-title">Millet java
                          </h4>
                          <p class="card-text">
                            (healthy food) </p>
                          </div>
                        </div>
                    </div>
                   </div>
            <a class="carousel-control-prev" href="#carousel-example" role="button" data-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carousel-example" role="button" data-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only">Next</span></a>
                    </div>
                   
</div>
</section>

<section class="page-heading">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <h1>Snack</h1>
               </div>
      </div>
            <div id="carousel-example-1" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner row w-100 mx-auto" role="listbox">

                    <div class="carousel-item col-12 col-sm-6 col-md-3 col-lg-3 active">
                      <div class="card">
                        <img src="assets/images/snack-1.jpg" class="img-fluid mx-auto d-block" alt="img1">
                        <div class="card-body">
                          <h4 class="card-title-1">Fresh vegetable salad 
                          </h4>
                          <p class="card-text">
                            (healthy food)</p>
                          </div>
                        </div>
                      </div>
                    <div class="carousel-item col-12 col-sm-6 col-md-3 col-lg-3">
                      <div class="card">
                        <img src="assets/images/snack-2.jpg" class="img-fluid mx-auto d-block" alt="img2">
                        <div class="card-body">
                          <h4 class="card-title">Jonna idli
                          </h4>
                          <p class="card-text">
                            (healthy food)</p>
                          </div>
                        </div>
                      </div>
                    <div class="carousel-item col-12 col-sm-6 col-md-3 col-lg-3">
                      <div class="card">
                        <img src="assets/images/snack-3.jpg" class="img-fluid mx-auto d-block" alt="img3">
                        <div class="card-body">
                          <h4 class="card-title">Barley foods
                          </h4>
                          <p class="card-text">
                            (healthy food) </p>
                          </div>
                        </div>
                      </div>
                    <div class="carousel-item col-12 col-sm-6 col-md-3 col-lg-3">
                      <div class="card">
                        <img src="assets/images/snack-4.jpg" class="img-fluid mx-auto d-block" alt="img4">
                        <div class="card-body">
                          <h4 class="card-title">Sabja sweets
                          </h4>
                          <p class="card-text">
                            (falooda /basil seed sweets)</p>
                          </div>
                        </div>
                      </div>
                    <div class="carousel-item col-12 col-sm-6 col-md-3 col-lg-3">
                      <div class="card">
                        <img src="assets/images/snack-5.jpg" class="img-fluid mx-auto d-block" alt="img5">
                        <div class="card-body">
                          <h4 class="card-title">Nuvvula laddo
                          </h4>
                          <p class="card-text">
                          (sesame laddo)</p>
                          </div>
                        </div>
                      </div>
                   
                    </div>
                    <a class="carousel-control-prev" href="#carousel-example-1" role="button" data-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carousel-example-1" role="button" data-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only">Next</span></a>
                    </div>
                   
</div>
</section>
<section class="page-heading">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <h1>Lunch/Dinner</h1>
               </div>
      </div>
            <div id="carousel-example-2" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner row w-100 mx-auto" role="listbox">

                    <div class="carousel-item col-12 col-sm-6 col-md-3 col-lg-3 active">
                      <div class="card">
                        <img src="assets/images/lunch-1.jpg" class="img-fluid mx-auto d-block" alt="img1">
                        <div class="card-body">
                          <h4 class="card-title">Korralu khichdi
                          </h4>
                          <p class="card-text">
                            (foxtail millet khichdi)</p>
                          </div>
                        </div>
                      </div>
                    <div class="carousel-item col-12 col-sm-6 col-md-3 col-lg-3">
                      <div class="card">
                        <img src="assets/images/lunch-2.jpg" class="img-fluid mx-auto d-block" alt="img2">
                        <div class="card-body">
                          <h4 class="card-title-1">Brown rice with chicken 
                          </h4>
                          <p class="card-text">
                            (healthy food)</p>
                          </div>
                        </div>
                      </div>
                    <div class="carousel-item col-12 col-sm-6 col-md-3 col-lg-3">
                      <div class="card">
                        <img src="assets/images/lunch-3.jpg" class="img-fluid mx-auto d-block" alt="img3">
                        <div class="card-body">
                          <h4 class="card-title">Brown rice biryani
                          </h4>
                          <p class="card-text">
                            (healthy food) </p>
                          </div>
                        </div>
                      </div>
                    <div class="carousel-item col-12 col-sm-6 col-md-3 col-lg-3">
                      <div class="card">
                        <img src="assets/images/lunch-4.jpg" class="img-fluid mx-auto d-block" alt="img4">
                        <div class="card-body">
                          <h4 class="card-title">Millet tomato rice
                          </h4>
                          <p class="card-text">
                            (healthy food)</p>
                          </div>
                        </div>
                      </div>
                    
                   
                    </div>
                    <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only">Next</span></a>
                    </div>
                   
</div>
</section>