<section class="hero-wrap hero-wrap-2" style="background-image: url('assets/images/bg_3.jpg');" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text align-items-end justify-content-center">
      <div class="col-md-9 ftco-animate text-center mb-4">
        <h1 class="mb-2 bread">LOCATION & HOURS</h1>
        <p class="breadcrumbs"><span class="mr-2"><a routerLink="/">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Location & Hours <i class="ion-ios-arrow-forward"></i></span></p>
      </div>
    </div>
  </div>
</section>
<section class="ftco-section ftco-no-pt ftco-no-pb contact-section">
  <div class="container">
    <div class="row d-flex align-items-stretch no-gutters">
      <div class="col-md-6 pt-5 px-2 pb-2 p-md-5 order-md-last">
        <h2 class="h4 mb-2 mb-md-5 font-weight-bold ">Location & Hours</h2>
       <p class="Outlet">Outlet 1<br>
       <p class="Address"> Beside Relience Fresh
        Vivekananda Nagar,
        Kukatpally 
        Hyderabad</p>
        <p class="Outlet">Outlet 2</p>
        <p class="Address">Opposite HMT Hills Bus stop
          Satavahana Nagar,
          Landmark: kalamandir to sivalayam Lane</p>
        <h5 class="hours mb-2 pt-5 ">REGULAR HOURS</h5>
        <h6 class="week ">Monday - Sunday</h6>
        <p class="time ">7.00AM - 9.00PM</p>
        </div>
      <div class="col-md-6 d-flex align-items-stretch">
        <div id="map-container-google-1" class="z-depth-1-half map-container">
          <iframe src="https://maps.google.com/maps?q=Vivekananda+Nagar,+Kukatpally,+Hyderabad&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
            style="border:0" allowfullscreen></iframe>
           
            </div>
              </div>
              </div>
        </div>
</section>