<footer class="ftco-footer ftco-bg-dark ftco-section">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md-6 col-lg-4">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">About</h2>
          <p>The Millet Meals came into existence as Vijaya Laxmi Subedar, Traditional home food enthusiast got inspired from her aging parents food habits. She realized the importance of healthy food habits as she learnt the secret of her parents’ healthy life, by adopting millet based foods they managed to avoid diseases like diabetes, B.P. etc. even at the age of 90’s.</p>
          <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-3">
            <li class="ftco-animate"><a href="#"><samp><i class="fa fa-twitter"></i></samp></a>
           <li class="ftco-animate"><a href="#"><samp><i class="fa fa-facebook"></i></samp></a>
            <li class="ftco-animate"><a href="#"><samp><i class="fa fa-instagram"></i></samp></a>
          </ul>
        </div>
      </div>
      
      <div class="col-md-6 col-lg-4">
         <div class="ftco-footer-widget mb-4">
          <div class="thumb d-sm-flex">
            <div class="footer-widget mb-4">
              <h2 class="ftco-heading-2 "> Restaurant</h2>
              <ul class="list-unstyle ">
               <li><a routerLink="/" class="py-2 d-flex nounderline"><samp>Home</samp> </a>
                <li><a routerLink="/location-and-hours" class="py-2 d-flex nounderline"><samp>Location-and-Hours</samp></a>
                <li><a routerLink="/menu" class="py-2 d-flex nounderline"><samp>Menu</samp></a>
                <li><a href="#contact" class="py-2 d-flex nounderline"><samp>Contact</samp></a>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">Subscribe</h2>
          <p>Far far away, behind the word mountains, far from the countries.</p>
          <form action="#" class="subscribe-form">
            <div class="form-group">
              <input type="text" class="form-control mb-2 text-center" placeholder="Enter email address">
              <input type="submit" value="Subscribe" class="form-control submit px-3">
            </div>
          </form>
        </div>
      </div>
    </div>
   </div>
</footer>
